html, 
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*height: 100%;
    margin: 0;
    padding: 0;*/
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 100% 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/* Where React code is rendered */
#app {
    width: 100%;
    height: 100%;
}

/* For Loading.js */
.mystyle{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.App {
    text-align: center;
  
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
.App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
}
  
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
  
.App-link {
    color: #61dafb;
}
.h2Align{
  margin-left: -35%;
  color: white;
}
.rightSection{
  margin-left:auto;
  margin-right:auto;
  margin: auto;
  width:225px;
  height:400px;
  background-color:black;
}
.navBar{
  display: flex;
  justify-content: flex-end;
}
.recentPlayed{
  background-color:black;
  width: 200px;
  height: 200px;
  margin:auto;
}
.recentAttributes{
  width: 200px;
  height: 200px;
  margin:auto;
}
.flexAttributes{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.horizontalDisplay{
  float:left;
  margin-left:70px;
  padding: 20px;
}
.createSection{
  width: 600px;
  height: 450px;
  float:right;
  margin-top: 40px;
  margin-right: 70px;
  display: flex;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5%;
 padding: 20px;
}
.createEffect{
  background-color: rgba(213, 210, 210, 0.7);
  border-radius: 1.65rem;
  width: 250px;
}
.create{
  font-size: 30px;
  color:white;
}
.leftSection{
  margin-left:auto;
  margin-right:auto;
}
.rightSection{
  margin-left:auto;
  margin-right:auto;
  margin: auto;
  width:225px;
  height:400px;
  background-color:black;
}
.songBtn{
  text-decoration: none;
  font-size: 36px;
 float:right;
 color:white;
 font-weight: bold;
}
.btn-modal {
  padding: 10px 20px;
  display: block;
/* margin: 100px auto 0;*/
  font-size: 18px;
 left:80%;
}
.menuBar{
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
a {
    color: white;
}
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
  
