.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.recentPlayed{
  box-shadow: 0 0 50px #ccc;
  width: 300px;
  height: 300px;
}
.recentAttributes{
  box-shadow: 0 0 50px #ccc;
  width: 300px;
  height: 300px;
 
}
.horizontalDisplay{
  float:left;
  margin-left:50px;
}
.createSection{
  box-shadow: 0 0 50px #ccc;
  width: 800px;
  height: 600px;
  float:right;
  margin-right: 50px;
  margin-top: 20px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
