.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.recentPlayed{
  box-shadow: 0 0 50px #ccc;
  width: 300px;
  height: 300px;
  margin:auto;
}
.recentAttributes{
  box-shadow: 0 0 50px #ccc;
  width: 300px;
  height: 300px;
 margin:auto;
}
.horizontalDisplay{
  float:left;
  margin-left:50px;
  margin-top:auto;
  margin-right:auto;
}
body{
  background-color: rgba(139, 252, 255);
}
.createSection{
  width: 800px;
  height: 600px;
  float:right;
  margin-right: 50px;
  margin-top: 20px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
}
.bubble{
  background-color: #588C49;
  border-radius: 36%;
  width: 100px;
  height: 50px;
  position: relative;
  margin-bottom:30px;
 
}
.flexAttributes{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.description{
text-align: center;
 margin: auto;
 padding-top:10px;
}
.leftSection{
  margin-left:auto;
  margin-right:auto;
}
.rightSection{
  margin-left:auto;
  margin-right:auto;
  margin: auto;
  width:300px;
  height:500px;
  background-color: grey;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
