.bubble{
   
  border-radius: 1.65rem;
    width: 100px;
    height: 50px;
    position: relative;
    margin-bottom:30px;
  }
  .description{
    text-align: center;
     margin: auto;
     padding-top:10px;
    }